@model GYMSystem_GymSystem.Models.Client

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Client</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ClientId" />
            <div class="form-group">
                <label asp-for="ClientName" class="control-label"></label>
                <input asp-for="ClientName" class="form-control" />
                <span asp-validation-for="ClientName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientNumber" class="control-label"></label>
                <input asp-for="ClientNumber" class="form-control" />
                <span asp-validation-for="ClientNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DOB" class="control-label"></label>
                <input asp-for="DOB" class="form-control" />
                <span asp-validation-for="DOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientAddress" class="control-label"></label>
                <input asp-for="ClientAddress" class="form-control" />
                <span asp-validation-for="ClientAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Branchid" class="control-label"></label>
                <select asp-for="Branchid" class="form-control" asp-items="ViewBag.Branchid"></select>
                <span asp-validation-for="Branchid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Departmentid" class="control-label"></label>
                <select asp-for="Departmentid" class="form-control" asp-items="ViewBag.Departmentid"></select>
                <span asp-validation-for="Departmentid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trainerid" class="control-label"></label>
                <select asp-for="Trainerid" class="form-control" asp-items="ViewBag.Trainerid"></select>
                <span asp-validation-for="Trainerid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subscriptionid" class="control-label"></label>
                <select asp-for="Subscriptionid" class="form-control" asp-items="ViewBag.Subscriptionid"></select>
                <span asp-validation-for="Subscriptionid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
